.breadcrumb {
    /* background-color: #f5f5f5; */
    padding-right : 10px;
    padding-left  : 10px ;
    margin-bottom : 20px;
    /* border: 1px solid #e0e0e0; */
    /* border-radius: 25px; */
    /* box-shadow: 0 4px 8px rgba(0, 128, 128, 0.2); */
}

.breadcrumb a {
    color:#dc0505;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #333333; /* Charcoal on hover */
    text-decoration: underline;
}

.breadcrumb li {
    display: inline;
    font-size: 0.9em;
    color: #333333; /* Charcoal for text */
}

.breadcrumb li::after {
    content: " / ";
    color: #999999; /* Light Gray separator */
}

.breadcrumb li:last-child::after {
    content: ""; /* Remove separator after the last breadcrumb item */
}
